body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #f5f5f5;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px 40px;
  background: white;
  align-items: center;
}

.logo {
  font-weight: bold;
  font-size: 20px;
}

.hero {
  background: linear-gradient(90deg, #7b2ff7, #f107a3);
  color: white;
  padding: 40px;
}

.container {
  max-width: 900px;
  margin: -40px auto 50px auto;
  padding: 20px;
}

.cart-card {
  display: flex;
  background: white;
  padding: 20px;
  border-radius: 16px;
  margin-bottom: 20px;
  align-items: center;
  gap: 20px;
}

.cart-card img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 12px;
}

.cart-details {
  flex: 1;
}

.qty-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.qty {
  display: flex;
  align-items: center;
  gap: 10px;
}

.qty button {
  width: 30px;
  height: 30px;
  border-radius: 6px;
  border: 1px solid #ccc;
  cursor: pointer;
}

.price h2 {
  color: #7b2ff7;
  margin: 5px 0 0 0;
}

.remove-btn {
  border: none;
  background: none;
  cursor: pointer;
  font-size: 18px;
}

.summary {
  background: white;
  padding: 25px;
  border-radius: 16px;
  margin-top: 30px;
}

.row {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.total {
  font-size: 20px;
  font-weight: bold;
}

.checkout-btn {
  width: 100%;
  padding: 12px;
  margin-top: 15px;
  background: linear-gradient(90deg, #7b2ff7, #f107a3);
  border: none;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}